$font-size: 16px;

$screen-xxs: 320px;
$screen-xs: 480px;
$screen-s: 600px;
$screen-m: 768px;
$screen-l: 900px;
$screen-xl: 1024px;
$screen-xxl: 1200px;
$screen-xxxl: 1920px;

$primary-c: #2196f3;
$secondary-c: #9abbce;
$gray-c: #a0b0b9;
$text-c: #4a4a4a;
$hover-c: #f1fcff;
$background-c: #f3f7fa;
